.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
  margin: 10px;
}

.card {
  color: black;
  background-color: #61dafb;
  padding: 10px;
  margin: 20px;
}

.card-list {
  color: white;
  background-color: #282c34;
  padding: 30px;
  margin: 10px;
}

.nav {
  color: white;
  background-color: #282c34;
  padding: 10px;
  margin: 10px;
}

.component-name {
  text-decoration: underline;
  font-style: italic;
  color: rgb(189, 123, 2);
}

.button {
  margin: 10px;
}

.red {
  color: red
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
