#title,
#exercise-details {
  text-align: center;
}

#header {
  margin-top: 25px;
  margin-bottom: 10px;
  border: rgb(29, 26, 201);
  border-style: dotted;
  border-width: 5px;
  width: 500px;
  height: 75px;
  background-color: rgb(228, 215, 42);
  width: 50%;
  margin: 0 auto;
}

#title {
  color: rgb(0, 0, 0);
  text-shadow: -1px -1px 0 rgb(247, 241, 241), 1px -1px 0 rgb(247, 241, 241),
    -1px 1px 0 rgb(247, 241, 241), 1px 1px 0 rgb(247, 241, 241);
}

img {
  height: 100px;
  width: 100px;
}

.poke-card {
  border: solid;
  border-color: rgb(228, 215, 42);
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 30px;
  float: left;
  text-align: center;
  width: 100px;
  height: 250px;
}

.poke-card:hover {
  box-shadow: 0 8px 16px 0 rgba(218, 31, 31, 0.685);
}

#poke-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

input[type="text"] {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  padding: 12px 20px;
  margin: 8px 0;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(228, 215, 42);
}

label {
  color: rgb(83, 79, 79);
}

#poke-form-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}